<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="QUANLYQUANTRASUA.Properties.Settings.QuanLyQuanTraSuaConnectionString"
            connectionString="Data Source=LAPTOP-5JV6U0Q0\SQLEXPRESS;Initial Catalog=QuanLyQuanTraSua;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="QUANLYQUANTRASUA.Properties.Settings.QuanLyQuanTraSuaConnectionString1"
            connectionString="Data Source=.;Initial Catalog=QuanLyQuanTraSua;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1"/>
    </startup>
</configuration>
